{% extends 'layout.html' %}
{% load static %}

{% block content %}
<h1>Acerca de mí</h1>
<div class="row">
    <div class="col-md-8">
        <div class="card mb-2" style="background: linear-gradient(to bottom, #eeeeee, #ffffff);">
            <div class="card-body">
                <b>Julián Andrés Micolta Lemus</b> es un Ingeniero de Sistemas,
                apasionado por el mundo de la tecnología.
            </div>
            <div class="card-footer text-muted">
                Parte 1/4
            </div>
        </div>
        <div class="card mb-2" style="background: linear-gradient(to left, #eeeeee, #ffffff);">
            <div class="card-body">
                Soy de Colombia, tengo 22 años y en mi tiempo libre me gusta leer libros y seguir
                aprendiendo sobre nuevas tendencias del mercado relacionadas con el entorno de la <b>Programación</b>.
                También me gusta viajar, el fútbol y hacer ejercicio.
            </div>
            <div class="card-footer text-muted">
                Parte 2/4
            </div>
        </div>
        <div class="card mb-2" style="background: linear-gradient(to top, #eeeeee, #ffffff);">
            <div class="card-body">
                El curso <b>Python</b> realizado en la plataforma <i>Coderhouse</i> es un valioso paso
                hacia mi carrera como Desarrollador de Software. Si bien, hoy en día me desempeño como analista
                QA/Funcional en una importante empresa del sector banca en <i>Colombia</i>, sé que lo que más disfruto
                es desarrollar.
            </div>
            <div class="card-footer text-muted">
                Parte 3/4
            </div>
        </div>
        <div class="card" style="background: linear-gradient(to right, #eeeeee, #ffffff);">
            <div class="card-body">
                Pondré en práctica todo lo aprendido y seguiré esforzandome por mis <b>objetivos</b>.
            </div>
            <div class="card-footer text-muted">
                Parte 4/4
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <img src="{% static 'programmer.png' %}" alt="..." class="img-fluid">
    </div>
</div>
</p>
{% endblock %}