{% extends 'layout.html' %}

{% block content %}
<h4 class="fw-bold">Todos los artículos</h4>
<div class="row my-4">
    <div class="col-md-3">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Autor
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body d-flex justify-content-center">
                        <div class="button-group filter-button-group">
                            <button data-filter="*" class="btn btn-light">Ver Todo</button>
                            <button data-filter=".transition" class="btn btn-light">Administrador</button>
                            <button data-filter=".alkali" class="btn btn-light">Público</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row grid my-4">
            {% for post in posts %}
            <div class="element-item transition metal col-md-4 mb-4">
                <div class="card transform border-0">
                    <img src="{{post.image.url}}" alt="{{post.title}}" class="card-img-top">
                    <div class="card-body">
                        <p class="mb-0">{{post.date}} <a href="{% url 'blog:post_detail' post.id %}"><i
                                    class="fa-solid fa-eye"></i></a></p>
                        <p class="mb-0">{{post.title}} <span class="badge rounded-pill text-bg-primary">Reciente</span>
                        </p>
                        <p class="mb-0">{{post.description|striptags|truncatechars:100}}</p>
                        <small><b>Creado por:</b> {{post.rol}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row grid my-4">
            {% for form in forms %}
            <div class="element-item alkali metal col-md-4 mb-4">
                <div class="card transform border-0">
                    <img src="{{form.image.url}}" alt="{{form.title}}" class="card-img-top">
                    <div class="card-body">
                        <p class="mb-0">{{form.date}} <a href="{% url 'form:form_detail' form.id %}"><i
                                    class="fa-solid fa-eye"></i></a></p>
                        <p class="mb-0">{{form.title}} <span class="badge rounded-pill text-bg-primary">Reciente</span>
                        </p>
                        <p class="mb-0">{{form.description|striptags|truncatechars:100}}</p>
                        <small><b>Creado por:</b> {{form.rol}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}