{% extends 'layout.html' %}

{% block content %}
<section>
    <span>Última modificación: <a href="#">13/12/2022</a></span>
    <h2>Tu privacidad, tus derechos y nuestro compromiso</h2>
    <p>Usamos tus datos para crear herramientas que hagan más fácil tu vida cotidiana. Te contamos qué hacemos con tu
        información.</p>
    <small>Conoce nuestros principios para la protección de la privacidad</small>
    <ul>
        <div class="row">
            <div class="col-md-4">
                <li class="my-2">
                    <b>Trabajamos con calidad</b>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatem quidem odit necessitatibus nobis voluptates amet voluptas,
                        natus mollitia architecto excepturi, atque doloremque ipsam, a at corporis
                        similique facilis.
                    </p>
                </li>
            </div>
            <div class="col-md-4">
                <li class="mb-2">
                    <b>Protegemos tus datos</b>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magni
                        voluptate sunt eius, sint ratione iusto, officia aperiam recusandae eligendi
                        rerum consequatur dolore facere facilis cumque. Sapiente rem dignissimos voluptate
                        quam deleniti obcaecati iusto. Dignissimos quis sed nobis vitae voluptas.
                    </p>
                </li>
            </div>
            <div class="col-md-4">
                <li>
                    <b>Generamos valor</b>
                    <p class="text-justify">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo distinctio aspernatur
                        amet facilis nostrum enim sapiente obcaecati fugiat ullam fuga architecto laudantium,
                        asperiores officia! Ullam.
                    </p>
                </li>
            </div>
        </div>
    </ul>
</section>
<section>
    <h3>Tu privacidad: cuáles son tus derechos</h3>
    <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius laborum, cum ipsam id quidem
        aliquam adipisci
        totam nesciunt voluptatum <del>accusantium</del> odio maiores inventore consectetur non et nobis molestiae
        commodi sit
        velit iusto doloremque magnam. Perspiciatis, quam illo a eligendi <b>doloribus</b> rerum dolor optio voluptates
        numquam
        possimus laborum praesentium! <i>Repellendus</i> dolore molestiae culpa debitis ea unde id omnis, beatae nemo
        excepturi
        totam doloremque?</p>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis odio harum repellendus dolorem deleniti qui
        accusantium, at accusamus explicabo exercitationem <b>corporis</b> laudantium placeat animi, velit aut ea,
        assumenda
        dolorum vero! Vitae cumque cupiditate dolor vel minus odio magni at fugit, hic non?
    </p>
    <p class="text-justify">
        Lorem ipsum dolor sit amet <del>consectetur</del> adipisicing elit. Ipsa velit eveniet, numquam reiciendis
        ducimus nostrum
        fugiat. Sed quo fugiat repellendus, ullam, rerum asperiores nobis <i>numquam</i> illum debitis quia itaque
        porro.
    </p>
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, hic inventore placeat commodi consectetur, nostrum
        reiciendis ipsa similique mollitia minima <b>laudantium</b> quis, ad voluptate? Quaerat consequuntur veniam
        adipisci
        sit, pariatur optio! Aut, cumque libero fuga neque nihil nobis suscipit quo cum eius perspiciatis placeat?
        Aliquam doloremque dignissimos iure.
    </p>
</section>
<section>
    <h3>Tipos de datos que recolectamos:</h3>
    <ul>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugit hic nihil laudantium, eligendi
            beatae?</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo nobis placeat?</li>
    </ul>
</section>
{% endblock %}