<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <h5>Tu Blog</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Inicio</a></li>
          <li class="nav-item mb-2"><a href="{% url 'blog:posts' %}" class="nav-link p-0 text-muted">Blog</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item mb-2"><a href="{% url 'form:form' %}" class="nav-link p-0 text-muted">Redacta un
              artículo</a></li>
          {% endif %}
          <li class="nav-item mb-2"><a href="{% url 'blog:about' %}" class="nav-link p-0 text-muted">Acerca de mí</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Contacto</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url 'blog:privacy' %}" class="nav-link p-0 text-muted">Privacidad</a>
          </li>
        </ul>
      </div>
      <div class="col-md-5 offset-md-1 mb-3">
        <form action="{% url 'form:contact' %}" method="POST">
          {% csrf_token %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          <h5>Suscríbete a nuestro boletín</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, excepturi?</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter" class="visually-hidden">Correo electrónico</label>
            <input name="newsletter" id="newsletter" type="text" class="form-control" value="{{user}}"
              placeholder="Correo electrónico" {% if not user.is_authenticated %} disabled {% endif %} required>
            <button class="btn btn-primary" type="submit">Suscribirse</button>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2022 <b>Tublog.com</b>, Inc. Todos los derechos reservados.</p>
      <ul class="list-unstyled d-flex">
        <a href="https://www.facebook.com/" target="_blank">
          <li class="ms-3"><i class="fa-brands fa-facebook fa-lg"></i></li>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <li class="ms-3"><i class="fa-brands fa-instagram fa-lg"></i></li>
        </a>
        <a href="https://twitter.com/?lang=es" target="_blank">
          <li class="ms-3"><i class="fa-brands fa-twitter fa-lg"></i></li>
        </a>
      </ul>
    </div>
  </footer>
</div>