{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="card w-25">
    <div class="card-body">
        <h3 class="text-center">Iniciar sesión</h3>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <form method="POST" action="#">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" id="username">Username:</label>
                <input type="text" class="form-control" placeholder="Username" id="username"
                    name="{{form.username.name}}" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" id="password">Password:</label>
                <input type="password" class="form-control" placeholder="Password" id="password"
                    name="{{form.password.name}}" required>
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Iniciar sesión" class="btn btn-danger">
            </div>
        </form>
    </div>
</div>
{% endblock %}