:root {
    --dark: #000;
    --light: #fff;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: var(--light);
}

.card {
    border-radius: 0;
}

.transform:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    filter: invert(1);
}

.navbar {
    padding: 30px 100px;
    transition: .6s;
}

.navbar-brand {
    font-weight: 700;
}

.navbar .navbar-brand,
.navbar .nav-link {
    transition: .6s;
}

.navbar.sticky {
    padding: 10px 100px;
    background-color: var(--dark) !important;
}

.navbar.sticky .navbar-brand, 
.navbar.sticky .nav-link {
    color: var(--light);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar.sticky .navbar-toggler-icon {
    filter: invert(1);
}