{% extends 'layout.html' %}

{% block content %}
<div class="row my-4">
    <h4 class="fw-bold">Artículos escritos por el administrador</h4>
    {% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card transform border-0">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
            <div class="card-body">
                <span>{{project.date}}</span>
                <p class="mb-0">{{project.title}} <span class="badge rounded-pill text-bg-danger">Antiguo</span></p>
                <small><b>Reseña:</b> {{project.description|striptags|truncatechars:50}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row my-4">
    <h4 class="fw-bold">Artículos escritos por el usuario</h4>
    {% for form in forms %}
    <div class="col-md-3 mb-4">
        <div class="card transform border-0">
            {% if form.image %}
            <img src="{{form.image.url}}" alt="{{form.title}}" class="card-img-top">
            {% else %}
            <img src="{{form.image}}" alt="..." class="card-img-top">
            {% endif %}
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span>{{form.date}}</span>
                    {% if user.is_authenticated %}
                    <div>
                        <a href="/form/edicionCurso/{{form.id}}"><i class="fa-solid fa-pencil text-secondary"></i></a></li>
                        <a href="/form/eliminarCurso/{{form.id}}"><i class="fa-solid fa-trash text-danger"></i></a></li>
                    </div>
                    {% endif %}
                </div>
                <p class="mb-0">{{form.title}} <span class="badge rounded-pill text-bg-primary">Reciente</span></p>
                <small><b>Reseña:</b> {{form.description|striptags|truncatechars:20}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card bg-primary">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-light fw-bold">Descúbre las últimas novedades.</h3>
                <p class="text-light mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iure accusamus
                    eos.</p>
            </div>
            <div class="col-md-4 text-end">
                <a href="{% url 'blog:posts' %}" class="btn btn-secondary">Descubrir</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}